* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body {
    background-color: #171717;
}

header {
    display: flex;
    margin: 10px 0px 0px 10px;
}

.link-header {
    color: white;
    text-decoration: none;
    padding: 0px 5px;
    font-size: 16pt;
    font-weight: 700;
}

.icon {
    width: 25px;
    height: 25px;
    padding: 0px 2px;
}

.redes-sociais {
    display: flex;
    margin-left: 50%;
}

.logo-image {
    width: auto;
    height: 200px;
    margin-left: 125px;
    margin-top: 5px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 200px;
    margin-top: 120px;
}

h3 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #008fff;
}

h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 122px;
    color: #FAFAFA;
}

span {
    color: #008fff;


}

h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 71px;
    color: #fafafa;
    margin: 0;
    padding: 0;
}


.button-main {
    text-decoration: none;
    background: #008fff;
    border-radius: 10px;
    width: 239px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: white;
    border: none;
    cursor: pointer;
    filter: drop-shadow(2px 2px 1px #F06529);
    margin-top: 30px;
    margin-left: 20px;
}

.button-main:hover {
    transform: scale(1.04);
    transition: 0.2s;
}

h4{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}